*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Quicksand', sans-serif;
}
.textos{
    margin: 25px 0;
}
.main{
    max-width: 1100px;
    margin: 10px auto;
}
.fas{
    font-size: 25px;
}
.volver{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    margin: 15px;
    cursor: pointer;
}
.volver:hover{
    color: rgb(108, 108, 255);
}