.textos{
    margin: 0 auto;
    line-height: 25px;
    font-size: 18px;
}
.textos-titulo{
    font-size: 20px;
    padding: 5px;
    display: flex;
    justify-content: center;
    width: 100px;
    margin: 15px auto;
    border-radius: 5px;
    background: rgba(70, 111, 245, 0.87);
}
.preguntas{
    background-color: rgba(228, 245, 70, 0.87);
}
.conjunto{
    display: flex;
    justify-content: center;
    margin: 25px 15px;
    align-items: center;
}
.btn{
    border-radius: 5px;
    border: 2px solid rgba(66, 228, 60, 0.87);
    background: none;
    box-shadow: 3px 3px rgba(66, 228, 60, 0.87);
    font-size: 25px;
    cursor: pointer;
    outline:none;
    margin: 15px;
}
.btn:hover{
    background:rgba(70, 111, 245, 0.87) ;
    border: 2px solid rgba(70, 111, 245, 0.87);
    box-shadow: 3px 3px rgba(70, 111, 245, 0.87);
}
table{
    border: 3px solid rgba(70, 111, 245, 0.87);
    font-size: 25px;
}
tr,th,td{
    padding: 15px 40px;
    text-align: center;
    border: 1px solid rgba(70, 111, 245, 0.87);
}
.bold{
    font-weight: bold;
}
.tabla{
    display: flex;
    width: 50%;
    justify-content: space-around;
    margin: 15px auto;
}
.btnTexto{
    border: 1px solid #000;
    border-radius: 3px;
    padding: 3px;
    width: 55px;
    height: 35px;
    font-size: 20px;
}
.correcto{
    background: rgb(9, 255, 0);
}
.incorrecto{
    background: rgb(255, 51, 0);
}
.btnValidar{
    width: 80px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid rgba(66, 228, 60, 0.87);
    background: none;
    box-shadow: 3px 3px rgba(66, 228, 60, 0.87);
    font-size: 18px;
    cursor: pointer;
    outline:none;
}
.btnValidar:hover{
    background:rgba(70, 111, 245, 0.87) ;
    border: 2px solid rgba(70, 111, 245, 0.87);
    box-shadow: 3px 3px rgba(70, 111, 245, 0.87);
}
.validar{
    display: flex;
    justify-content: center;
    margin: 15px auto;
}