.imagenes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.img{
    width: 200px;
    margin: 15px;
    border-radius: 15px;
}
.textos{
    margin: 0 auto;
    line-height: 25px;
    font-size: 18px;
}
.textos-titulo{
    font-size: 20px;
    padding: 5px;
    display: flex;
    justify-content: center;
    width: 100px;
    margin: 0 auto;
    border-radius: 5px;
    background: rgba(70, 111, 245, 0.87);
}
.textos-parrafo{
    text-align: justify;
    padding-left: 15px;
    margin: 15px 0;
}
.contenedorImgs{
    display: flex;
    width: 50%; 
    margin: 25px auto;
    justify-content: space-around;
    align-items: center;
}
.imgGato{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contenedorCojunto{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.btnTexto{
    border: 1px solid #000;
    border-radius: 3px;
    padding: 3px;
    width: 25px;
    height: 25px;
    font-size: 20px;
}
.btnValidar{
    width: 80px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid rgba(66, 228, 60, 0.87);
    background: none;
    box-shadow: 3px 3px rgba(66, 228, 60, 0.87);
    font-size: 18px;
    cursor: pointer;
    outline:none;
}
.btnValidar:hover{
    background:rgba(70, 111, 245, 0.87) ;
    border: 2px solid rgba(70, 111, 245, 0.87);
    box-shadow: 3px 3px rgba(70, 111, 245, 0.87);
}
.validar{
    display: flex;
    justify-content: center;
    margin: 15px auto;
}
.variable{
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
    text-align: center;
    font-weight: bold;
}
.contenedorIndividual{
    display: flex;
    flex-direction: column;
    padding: 30px;
    border: 3px solid rgba(70, 111, 245, 0.87);
    border-radius: 50%;
}
.contenedorTexto{
    text-align: center;
    margin: 5px 0;
    font-size: 25px;
}
.contenedorImagen{
    margin: 10px;
}
.signo{
    font-size: 100px;
    font-weight: bold;
}
.contenedorConjuntos{
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}
.contenedorNotacion{
    width: 90%;
}
.conjunto{
    display: flex;
    justify-content: center;
    margin: 25px 15px;
    align-items: center;
}
.signoNO{
    color: #fff;
}
.nota{
    background: rgb(37, 235, 208);
    width: 50%;
    padding: 15px;
    text-align: justify;
    border-radius: 15px;
    margin: 15px auto;
}
.notacion{
    padding: 10px;
    border-radius: 15px;
    border-right:1px solid #000;
    border-left:1px solid #000;
}
.llave{
    height: 200px;
}
.preguntas{
    background-color: rgba(228, 245, 70, 0.87);
    width: 200px;
    margin: 15px auto;
}
.btn{
    width: 50px;
    height: 50px;
    border-radius: 5px;
    border: 2px solid rgba(66, 228, 60, 0.87);
    background: none;
    box-shadow: 3px 3px rgba(66, 228, 60, 0.87);
    font-size: 25px;
    cursor: pointer;
    outline:none;
    margin: 15px auto;
}
.btn:hover{
    background:rgba(70, 111, 245, 0.87) ;
    border: 2px solid rgba(70, 111, 245, 0.87);
    box-shadow: 3px 3px rgba(70, 111, 245, 0.87);
}
.contenedor{
    display: flex;
    flex-direction: column;
}
.figura{
    width: 80px;
}
.contenedorNumero, .contenedorLetra{
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 15px;
}
.numero, .letra{
    font-size: 80px;
}
.nota2{
    background: rgb(235, 211, 108);
    width: 30%;
    padding: 15px;
    text-align: justify;
    border-radius: 15px;
    margin: 15px auto;
}
.correcto{
    background: rgb(9, 255, 0);
}
.incorrecto{
    background: rgb(255, 51, 0);
}
.centrar{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.respuesta{
    margin: 15px 0;
}
.btnTextoLargo{
    border: 1px solid #000;
    border-radius: 3px;
    padding: 3px;
    width: 125px;
    height: 25px;
    font-size: 20px;
}