.imagenes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.img{
    width: 200px;
    margin: 15px;
    border-radius: 15px;
}
.textos{
    margin: 0 auto;
    line-height: 25px;
    font-size: 18px;
}
.textos-titulo, .textos-ejemplos{
    font-size: 20px;
    background-color: rgba(70, 111, 245, 0.87);
    padding: 5px;
    display: flex;
    justify-content: center;
    width: 200px;
    margin: 0 auto;
    border-radius: 5px;
}
.textos-parrafo, .textos-variable, .textos-constante{
    text-align: justify;
    padding-left: 15px;
    margin: 15px 0;
}
.textos-ejemplos{
    background-color: rgba(228, 113, 60, 0.87);
    width: 150px;   
}
table{
    margin:25px 0;
    border: 3px solid rgba(70, 111, 245, 0.87);
    font-size: 25px;
    width: 50%;
}
tr,th,td{
    padding: 15px 40px;
    text-align: center;
    border: 1px solid rgba(70, 111, 245, 0.87);
}
.tabla{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
}
.Signo{
    font-size: 100px;
}
.primerElemento{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px 0;
}
.textos-primerElemento{
    font-size: 18px;
}
.formula{
    text-align: center;
}
.contenedor-primerElemento{
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: rgb(239, 170, 253);
}
.textos-primerElemento{
    padding: 5px;
    border-radius: 5px;
}
.primerElemento-coeficiente{
    border: 2px solid rgb(212, 39, 247);
}
.primerElemento-variable{
    border: 2px solid rgba(228, 113, 60, 0.87);
}
.contenedor-primerElemento .cts{
    text-decoration: overline;
    color: rgb(212, 39, 247);
}
.contenedor-primerElemento .var{
    text-decoration: underline;
    color: rgba(228, 113, 60, 0.87);
}
.contenedorImg{
    margin: 0 15px;
    border: 3px solid rgb(212, 39, 247) ;
    border-radius: 5px;
    display: flex;
    justify-content: center;
}
.imagen{
    width: 67px;
    height: 60px;
    margin: 2px;
}
.contendor-segundoElemento{
    display: flex;
    justify-content: center;
}
.textos-segundoElemento{
    padding: 5px;
    border: 3px solid rgb(212, 39, 247);
    border-radius: 5px;
}
.canvas{
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
.numeros{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 15px 0;
}
.imgNumeros{
    margin: 0 25px;
}
.preguntas{
    background-color: rgba(228, 245, 70, 0.87);
    margin: 15px auto;
}
.spanVar{
    background:  rgb(212, 39, 247);
    border-radius: 5px;
    padding: 2px;
}
.spanCts{
    background-color: rgba(66, 228, 60, 0.87);  
    border-radius: 5px;
    padding: 2px;   
}
.constantes{
    background: rgba(66, 228, 60, 0.87);
}
.respuestas{
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    margin: 0 auto;
}
.botones{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-left: 25px;
}
.btn{
    width: 50px;
    height: 50px;
    border-radius: 5px;
    border: 2px solid rgba(66, 228, 60, 0.87);
    background: none;
    box-shadow: 3px 3px rgba(66, 228, 60, 0.87);
    font-size: 25px;
    cursor: pointer;
    outline:none;
}
.btn:hover{
    background:rgba(70, 111, 245, 0.87) ;
    border: 2px solid rgba(70, 111, 245, 0.87);
    box-shadow: 3px 3px rgba(70, 111, 245, 0.87);
}
.opciones{
    margin: 25px 0;
}
.opcion{
    display: flex;
    margin: 15px;
    align-items: center;
}
.btnActividad{
    width: 30px;
    height: 30px;
    border-radius: 5px;
    border: 2px solid rgba(66, 228, 60, 0.87);
    background: none;
    box-shadow: 3px 3px rgba(66, 228, 60, 0.87);
    cursor: pointer;
    outline:none;
    margin-right: 15px;
}
.btnActividad:hover{
    background:rgba(70, 111, 245, 0.87) ;
    border: 2px solid rgba(70, 111, 245, 0.87);
    box-shadow: 3px 3px rgba(70, 111, 245, 0.87);
}
.btnValidar{
    width: 80px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid rgba(66, 228, 60, 0.87);
    background: none;
    box-shadow: 3px 3px rgba(66, 228, 60, 0.87);
    font-size: 18px;
    cursor: pointer;
    outline:none;
}
.btnValidar:hover{
    background:rgba(70, 111, 245, 0.87) ;
    border: 2px solid rgba(70, 111, 245, 0.87);
    box-shadow: 3px 3px rgba(70, 111, 245, 0.87);
}
.validar{
    display: flex;
    justify-content: center;
}
.correcto{
    background: rgb(9, 255, 0);
}
.incorrecto{
    background: rgb(255, 51, 0);
}
.btnTexto{
    border: 1px solid #000;
    border-radius: 3px;
    padding: 3px;
    width: 50px;
    height: 30px;
    font-size: 20px;
}
.rojo{
    color: rgb(255, 0, 0);
    text-decoration: underline;
}
.textosTabla{
    width: 30%;
    margin-left: 25px;
}
.centrar{
    display: flex;
    align-items: center;
    flex-direction: column;
}